*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

header {
    background-color: rgb(231, 190, 206);
    height: 100px;
    padding-top: 5px;
}

main{
    height:300px;
}
aside {
    background-color: rgb(212, 202, 212);
    height:300px;
    width: calc(100%/3);
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}
section{
    background-color: rgb(202, 228, 230);
    width: calc(2*(100%/3));
    height:300px;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}
#aside1{
    background-color: rgb(231, 190, 206);
    height:200px;
    width: calc(100%/3);
    padding-left: 10px;
    float: left;
}
#aside2{
    background-color: rgb(216, 216, 216);
    height:200px;
    width: calc(100%/3);
    padding-left: 10px;
    float: left;
}
#aside3{
    background-color: rgb(212, 202, 212);
    height:200px;
    width: calc(100%/3);
    padding-left: 10px;
    float: left;
}
footer {
    background-color:  rgb(197, 185, 197);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-size: 12px;
}